/* Basic editor styles */
.tiptap {

  color: theme("colors.writeup");

  :first-child {
    margin-top: 0;
  }

  .code-block {
    position: relative;
  
    select {
      position: absolute;
      background-color: var(--white);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
      right: 0.5rem;
      top: 0.5rem;
    }
  }

  img {
    height: 50vh;
    place-self: center;
    border-radius: 10px;
  }

  span {
    font-family: inherit;
  }

  p{
    font-family: var(--font-roboto);
  }

  &.ProseMirror {
    outline-width: 0px;
  }


  /* List styles */
  ul{
    list-style: disc !important;
      padding: 0 1rem;
  }
  ol {
    padding: 0 1rem;
    list-style: decimal !important;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    li p {
      font-family: "Abril Fatface", serif;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1{
    font-family: var(--font-abril);
    font-size: xx-large;
  text-wrap: pretty;
  } 
  h2 {
    font-family: var(--font-abril);
    font-size: x-large;
  text-wrap: pretty;
  } 
  h3 {
    font-family: var(--font-abril);
    font-size: larger;
  text-wrap: pretty;
  } 
  h4 {
    font-family: var(--font-abril);
    font-size: large;
  text-wrap: pretty;
  }
  h5{
    font-family: var(--font-abril);
    font-size: large;
    font-size: medium;
    text-wrap: pretty;
  } 
  h6 {
    font-family: var(--font-abril);
    text-wrap: pretty;
    font-size: small;
  }


  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    width: 100%;
    max-width: 800px;
    min-width: 400px;
    place-self: center;
    background: #151b23;
    border: solid 0.5px lightgrey;
    border-radius: 0.5rem;
    color: white;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: inherit;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
      font-family: 'JetBrainsMono', monospace;
    }
  }
  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
    
  /* Placeholder (at the top) */
  p.is-editor-empty:first-child::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  /* Placeholder (on every new line) */
  /* .is-empty::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  } */
}


.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
